.title-section-info {
  color: #FAFBD4;
  font-size: 72px;
  margin: 0.5rem 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

.subtitle-section-info {
  color: #D9DABE;
  font-size: 62px;
  margin: 0.5rem 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

.text-home-info {
  color: #FAFBD4;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.title-section-desc {
  color: #696958;
  font-size: 44px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.subtitle-section-desc {
  color: #45453A;
  font-size: 56px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  margin-bottom: 10px;

}

.text-home-desc {
  color: #45453A;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 100px;

}

.title-library {
  color: #696958;
  font-size: 40px;
  margin-left: 114px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.title-video {
  color: #696958;
  font-size: 40px;
  margin-left: 100px;
}

.title-sustentability {
  color: #696958;
  font-size: 40px;
  margin-left: 320px;
}

.title-about {
  color: #696958;
  font-size: 40px;
  margin-left: -30px;
}

.title-about-gaia {
  color: #45453A;
  font-size: 56px;
}

.title-research {
  color: #45453A;
  font-size: 56px;
}

.text-research {
  color: #45453A;
  font-size: 20px;
  width: 80%;
}

@media (max-width: 768px) {
  .title-section-info {
    font-size: 36px;
    text-align: center;
  }

  .subtitle-section-info {
    font-size: 28px;
    text-align: center;
  }

  .text-home-info {
    font-size: 16px;
    text-align: center;
  }

  .title-section-desc {
    font-size: 28px;
    text-align: center;
  }

  .subtitle-section-desc {
    font-size: 32px;
    text-align: center;
  }

  .text-home-desc {
    font-size: 16px;
    margin-bottom: 60px;
    text-align: justify;
  }

  .title-library {
    font-size: 28px;
    margin-left: 0;
    text-align: center;
  }

  .title-video {
    font-size: 28px;
    margin-left: 0;
    text-align: center;
  }

  .title-sustentability {
    font-size: 28px;
    margin-left: 0;
    text-align: center;
  }

  .title-about {
    font-size: 28px;
    margin-left: 0;
    text-align: center;
  }

  .title-about-gaia {
    font-size: 32px;
    text-align: center;
  }

  .title-research {
    font-size: 32px;
    text-align: center;
  }

  .text-research {
    font-size: 16px;
    width: 100%;
    text-align: justify;
  }
}
