.container-text-about-gaia{
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
    margin-left: 6%;
}

@media (max-width: 768px) {
  .container-text-about-gaia {
    margin-left: 0;
    margin-bottom: 24px;
    align-items: center;

  }
}

