.pillars {
  display: flex;
  justify-content: space-around;
  gap: 80px;
  margin: 24px 0;
  flex-wrap: wrap;
}

.pillar {
  text-align: center;
  flex: 1 1 200px; /* Permite que os pilares se ajustem de forma responsiva */
  max-width: 300px;
}

/* Responsividade: ajuste para telas pequenas */
@media (max-width: 768px) {
  .pillars {
    flex-direction: column;
    align-items: center;
    gap: 2px; /* reduz o espaço entre os itens no mobile */
  }

  .pillar {
    max-width: 100%;
  }
}
