.footer-social {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1rem;
}

.footer-social a {
  color: #333;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #86B970;
}
