.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem 5rem;  
  background-color:#86B970;
}

/* Responsividade */
@media (max-width: 768px) {
  .header {
    padding: 1rem 1.5rem;
  }
}
